/* Font */
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

.overlay-text {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding: 20%;
}

.custom-filter {
    filter: opacity(30%);
}

.logo-text {
    font-family: 'Rye', cursive;
}